<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Films</title>
    <link rel="stylesheet" href="..\static\css\films.css">
    <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

</head>

<body>
    <header>
        <div class="navbar">
            <div class="navbar-logo">
                <img src="../images/fotologo.jpeg" alt="Logo">
            </div>
            <div class="navbar-menu">
                <a href="home.html">Home</a>
                <a href="films.html" class="active">Films</a>
                <a href="series.html">Series</a>
                <a href="watchlist.html">Watchlist</a>
            </div>
            <img src="../images/busqueda.png" alt="Icono de búsqueda" class="search-icon">
            <div class="search-bar">
                <!-- Aquí iría la barra de búsqueda -->
            </div>
        </div>
    </header>
    <div class="page-title">
        <h1>Films</h1>
    </div>
    <!-- Aquí irían los elementos de las películas -->
</body>

</html>
