<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Replace</title>
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/signup.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
</head>

<body>
  <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="card login-card">
        <div class="row no-gutters">
          <div class="col-md-5 d-flex flex-column justify-content-center align-items-center">
            <div class="overlay z-1"></div>
            <img src="/images/login_photo.jpg" alt="login" class=" login-card-img z-0">
            <h4 class="text-light text-center z-1 px-4">"Roads? Where we're going we don't need roads."</h4>
            <p class="text-light fst-italic z-1">Back to the Future, 1985</p>
          </div>
          <div class="col-md-7">
            <a type="button" href="/" class="btn-close btn-lg pl-5 pt-5" aria-label="Close"></a>
            <div class="card-body">
              <div class="brand-wrapper">
                <h2 class="login-card-title fw-bold mb-0">CineMatch</h2>
              </div>
              <p class="login-card-description">Replace a Platform</p>
              <form action="/api/platform/{id}" method="post">
                <div class="form-group">
                  <label for="name" class="sr-only">Id</label>
                  <input type="text" name="id" id="id" class="form-control" placeholder="Id">
                </div>
                <div class="form-group">
                  <label for="name" class="sr-only">Name</label>
                  <input type="text" name="name" id="name" class="form-control" placeholder="Name">
                </div>            

                <input name="login" id="login" class="btn btn-block login-btn mb-2" type="submit" value="Replace">
                <button name="google-signin" id="google-signin" class="btn btn-block google-signin-btn mb-4"
                  type="button">
                  <a href="/createplatform">Go to Create Platform</a>
                </button>
              </form>
              <nav class="login-card-footer-nav">
                <a href="#!">Terms of use.</a>
                <a href="#!">Privacy policy</a>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>